/*FRGT PASS*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    margin-top:50px;
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 20px;
    padding-bottom: 60px;
   
}




/* formbox*/
.Form {
 
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 25px 30px;
    height: auto;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
}
    /* form text*/

    .Form h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 10px;
    }

.forgot-img {
    width: 50%;
    height: auto;
    margin: 0 auto 20px auto;
}

.Form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 20px;
    color: #333;
    background: #eee;
    border-radius: 8px;
}

    .Form input:focus {
        border-color: #7494ec; /* outline color */
        box-shadow: 0 0 4px #5a7ae6; /* glow effect */
    }

.Form label {
    display: flex;
    margin-bottom: 5px;
    color: #333;
}

.Form .Description {
    position: relative;
    bottom: 30px;
}

.Description p {
    font-size: 13px;
    color: #333;
}

.Description H2 {
    color: #4a90e2;
}
/* Reset button */

.Form .btn {
    background-color: #7494ec;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    margin-bottom: 12%;
    border-radius: 8px;
    font-weight: 600;
}

    .Form .btn:hover {
        background-color: #5a7ae6;
    }
/* Sign in click clor*/

.Form a {
    color: #7494ec;
    text-decoration: none;
}

    .Form a:hover {
        text-decoration: underline;
    }


.rememberpass {
    margin-bottom: 25px;
    color: #333;
}


