
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

/*Main */
.container {
    width: 100%;
    max-width: 850px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 500px;
    position: relative;
}

/* LEFT PANEL */
.left-container {
    width: 50%;
    height: 100%;
}

.Logo-box {
    width: 100%;
    height: 100%;
    background: #7494ec;
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Text Logo */
.Logo {
    font-size: 22px;
    font-weight: 600;
}

.text-sci h2 {
    font-size: 38px;
    line-height: 1;
}

.text-sci p {
    margin-top: 15px;
    font-size: 15px;
}

/* LOGIN FORM BOX */
.login-Box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* title na Sign In*/
.container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* INPUT BOX */
.input-group {
    position: relative;
    margin: 25px 0;
}

    .input-group input {
        width: 100%;
        padding: 13px 50px 13px 20px;
        background: #eee;
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 16px;
    }

    .input-group .icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #888;
    }

/* CheckBox & Forgot Password */
.checkbox-forgotlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0 15px;
}

    .checkbox-forgotlink a {
        color: #7494ec;
        font-size: 14.5px;
        text-decoration: none;
    }

        .checkbox-forgotlink a:hover {
            text-decoration: underline;
            color: #333;
        }



    /* BUTTON */
    .btn {
        width: 100%;
        height: 48px;
        background: #7494ec;
        border-radius: 8px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

/* CREATE ACCOUNT */
.Create-Account-Link {
    margin-top: 20px;
}

    .Create-Account-Link a {
        color: #7494ec;
        text-decoration: none;
    }

    .Create-Account-Link a:hover {
            text-decoration: underline;
            color: #333;
        }


/* ++++++++++++RESPONSIVE+++++++++++++ */

/*  para sa Tablets at sa Small laptops */
@media (max-width: 900px) {

    .container {
        flex-direction: column;
        height: auto;
        position: relative;
    }

    /*para di gumalaw sa login box */
    .login-Box {
        position: relative;
        right: 0;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 0;
    }

    .left-container {
        width: 100%;
        height: auto;
        order: -1; /* sa taas yung logo  */
    }

    .Logo-box {
        width: 100%;
        padding: 40px;
        border-radius: 0;
        text-align: center;
    }
}




/* Mobile Phones */
@media (max-width: 500px) {

    .container {
        flex-direction: column;
        height: auto;
        position: relative;
    }

    /* para mapunta yung logo sa taas */
    .left-container {
        width: 100%;
        height: auto;
        order: -1;
    }

    .Logo-box {
        padding: 30px;
        text-align: center;
        border-radius: 0;
    }

    /* para mapunta sa ibaba yung login form */
    .login-Box {
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 0;
        right: 0;
    }

    .container h1 {
        font-size: 28px;
    }

    .Logo {
        font-size: 18px;
    }

    .text-sci h2 {
        font-size: 28px;
    }

    .input-group input {
        font-size: 14px;
    }

    .btn {
        font-size: 15px;
        height: 44px;
    }
}
