
body {
    background-color: #f8f9fc;
}

/**/
.myprofile {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 30px;
 }
.myprofile h2{
    line-height: 0;
    font-size: 40px;
}
    .myprofile .text-muted {
        color: aqua;
        
    }

.section-title {
    font-size: 1.25rem;  
    margin-left: 70px;
}


/* Profile Card styling */
.profile-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    padding: 30px;
    margin: 20px;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-left: 20px;
    height: 500px;
    display:flex;
    flex-direction:column;
      
}


.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom:  3px solid rgba(12,23,42, 0.10);
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;  
}



/* Avatar  na Cricle styling */
.profile-avatar {
    width: 100px;
    height: 100px;
    background: #3b82f6;
    color: white;
    font-size: 36px;
    border-radius: 50%;
}


/* Profile Title and Role */
.profile-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    display:flex;
   
}

.profile-role {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    background-color: aqua;
    border-radius:20px;
    padding: 5px;
    width: 100%;   
}


/* Profile Information */
.profile-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1rem;
    width: 100%;
    gap: 40px;
   
    
}

.col-right, .col-left{
width:100%;
margin-right: 20px;
      
}

.input-group {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background: #eee;
    position: relative;
    margin: 10px 0;
    border: none;
    outline: none;
    font-size: 16px;
}




.profile-details p {
    margin: 8px 0;
    color: #6b7280;
    display:flex;


}


 .profile-button {
    display:flex;   
   margin-top:auto;
    width: 20%;
    height: 48px;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    border: none;   
   overflow:hidden;
}


.profile-button:hover {
    background-color: #2563eb;
}

.email-note {
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 5px;
    line-height:0;
   
  
}




