body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 25px 30px;
    height: auto;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    margin-top: 50px;
   
}

.input-box{
    margin:10px;
    display:flex;
    flex-direction:row;
  
}

.buttons .btn{
   position:relative;
   left: -100px;
  margin-top:50px
  
  
}

.list_members {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 25px 30px;
    height: auto;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    margin-top: 50px;
}